.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSans-NarrowBold.eot');
    src: url('../fonts/-NarrowBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-NarrowBold.woff2') format('woff2'),
        url('../fonts/PTSans-NarrowBold.woff') format('woff'),
        url('../fonts/PTSans-NarrowBold.ttf') format('truetype'),
        url('../fonts/PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.eot');
    src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Italic.woff2') format('woff2'),
        url('../fonts/PTSans-Italic.woff') format('woff'),
        url('../fonts/PTSans-Italic.ttf') format('truetype'),
        url('../fonts/PTSans-Italic.svg#PTSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font: 14px/1 'PT Sans Narrow', Tahoma, Arial, sans-serif;
	color: #000;
	background: #000 url("../img/fonts.jpg") no-repeat;
}
ul{
	list-style: none;
}
img{
	max-width: 100%;
}

input, button{
	font: 14px/1 'PT Sans Narrow', Tahoma, Arial, sans-serif;
	color: #000;
	outline: none;
}
input{
	color: #000;
	width: 100%;
	padding: 12px;
	border: 2px solid #000;
	margin: 10px 0 0;
	text-transform: uppercase;
	background: #f9f6f3;
}
input:focus{
		border-color: #663d15;
}
.form{
	font: 14px/1 'PT Sans Narrow', Tahoma, Arial, sans-serif;
	color: #000;
	max-width: 460px;
	background: #f9f6f3;
	color: #000;
	padding: 55px 79px 62px;
}
label{
	padding: 0 37px 0 12px;
}
.footer-block{
	padding: 60px 0;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	color: #fff;
}
.wraper{
	overflow: hidden;
	position: relative;
	padding-top: 72px;
}
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.container{
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
.header{
	max-width: 1200px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 4;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.navigation a{
	padding: 30px 0;
	display: block;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
}
.navigation ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.navigation li{
	padding: 0 21px;
}
.navigation li.active a{
	border-bottom: 4px solid #fff;
	padding-bottom: 26px;
}
.navigation li:hover,
.login:hover{
    background: rgba(36, 36, 36,.9);
}

.navigation{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: #000;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}
.login>a{
	padding-left: 52px;
	padding-right: 21px;
	position: relative;
}
.login>a:before{
    content: '';
    width: 19px;
    height: 16px;
    position: absolute;
    left: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url("../img/icon1.png");
    opacity: 0.5;
}
.login>a:hover:before{
	opacity: 1;
}
.main{
	margin-top: 125px;
}
.logo{
	display: block;
    max-width: 375px;
}
.logo-header{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 55px 0 80px;
}
.info-header{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	 justify-content: space-between;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 83px;
}
.info{
	min-width: 33.3%;
	width: 33.3%;
	text-align: center;
}
.info1{
	padding: 0 30px 0 24px;
}
.info2{
	padding: 0 20px 0 30px;
}
.info3{
	padding: 0 17px 0 20px;
}
.rhomb-info{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.rhomb{
	width: 20px;
  	height: 20px;
  	background: #f7f4f1;
  	-webkit-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	        transform: rotate(45deg);
}
.info p{
	line-height: 24px;
	padding-top: 30px;
}
.btn{
	background: #000;
	color: #fff;
	cursor: pointer;
}
.btn:hover,
.btn:focus{
	background-color: #663d15;
}
::-webkit-input-placeholder { 
  color: #000;
}
::-moz-placeholder { 
  color: #000;
}
:-ms-input-placeholder { 
  color: #000;
}
:-moz-placeholder { 
  color: #000;
}

.content1{
	margin-bottom: 34px;
}
.content1>.news,.content1>.gallery{
	padding-bottom: 54px;
}
.news a{
	display: block;
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}
.news1{
	margin: 23px 0 20px;
}
.news input{
	max-width: 140px;
	width: 100%;
}
.news>.italic, .news1>.italic{
	font-family: 'PT Sans';
	text-transform: lowercase;
}
.gallery>.title30{
	margin-bottom: 35px;
}
.gallery-img{
    width: 100%;
    max-width: 100%;
    height: 178px;
    padding: 7px;
    margin-bottom: 28px;
    background: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.gallery-img-inner{
    background: #e5e5e5;
    width: 100%;
    height: 100%;
}
.gallery-img-inner img{
    height: 100%;
    width: auto;
}
.block-l{
	background-color: #f9f6f3;
	padding: 50px 90px 62px 80px;
	width: 50%;
}
.block-l p{
	text-transform: uppercase;
	line-height: 24px;
}
.block-l>.title30{
	width: 325px;
}
.title30{
	font-size: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.block-r{
	background-color: #f9f6f3;
	padding: 50px 80px 62px 90px;
	width: 50%;
	position: relative;
}
.block-r:before{
    content: '';
    width: 8px;
    height: 278px;
    position: absolute;
    bottom: 80px;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url("../img/ten.png");
}
.block-r p{
	text-transform: uppercase;
	line-height: 24px;
}
.entry-form p{
	margin-bottom: 16px; 
}
.btn1{
	margin-right: 10px;
}
.btn2{
	margin-left: 10px;
}
.it1{
	margin: 9px 10px 10px 0;
}
.it2{
	margin: 9px 0 10px 10px;
}
.mt{
	margin-top: 23px;
}
.footer .container{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.links{
	width: 33.3%;
}
.links-blok{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.links p{
	padding-right: 28px;
}
.links-a{
	display: block;
	width: 140px;
	margin-top: 2px;
	background: #000;
	text-align: center;
	padding: 16px 0;
}
.links-a:hover{
	background: #fff;
	color: #000
}
.footer a{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer p{
	text-transform: uppercase;
	line-height: 24px;
}
.social>a{
	display: block;
}
.icon{
	margin: 3px 3px 0;
	width: 43px;
	height: 43px;
}
.icon-vk{
	background: #000 url(../img/v.png) no-repeat center;
}
.icon-vk:hover,
.icon-vk:focus{
	background: #fff url(../img/v1.png) no-repeat center;
}
.icon-f{
	background: #000 url(../img/f.png) no-repeat center
}
.icon-f:hover,
.icon-f:focus{
	background: #fff url(../img/f1.png) no-repeat center;
}
.icon-i{
	background: #000 url(../img/i.png) no-repeat center
}
.icon-i:hover,
.icon-i:focus{
	background: #fff url(../img/i1.png) no-repeat center;
}
.social p, .links p{
	text-align: center;
}
.footer-contacts{
	width: 33.3%;
}
.social{
	width: 33.3%;
}
.social-i{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.contacts-info1{
	margin: 25px 0 38px;
}
.popup-wrapper{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 100;
}
.popup-inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.popup{
	width: 100%;
	max-width: 460px;
	background: #f9f6f3;
	padding: 45px 80px 60px;
	max-height: 100%;
	overflow-y: auto;
	position: relative;
}
.popup .title30{
	margin: 0 0 30px;
}
.popup p{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 20px;
}
.popup form{
	background: none;
	padding: 0;
}
.login-field, .pass-field{
	position: relative;
	width: 100%;
}
.login-field input, .pass-field input{
	display: block;
	padding-right: 40px;
	width: 100%;
	margin: 0 0 10px;
}
.login-field:after,
.pass-field:after{
	content: '';
	width: 15px;
	height: 17px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 13px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
}
.login-field:after{
	background-image: url("../img/login.png");
}
.pass-field:after{
	background-image: url("../img/pass.png");
}
.forgot{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.forgot input{
	display: inline-block;
}
input[type=checkbox]{
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}
input[type=checkbox] + label{
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 33px;
	position: relative;
	line-height: 20px;
	cursor: pointer;
}
input[type=checkbox] + label:before{
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	position: absolute;
	left: 0;
	top: -3px;
}
input[type=checkbox]:checked + label:before{
	background: url("../img/checked.png") no-repeat 50%;
	background-size: 12px;
}
.forgot a{
	text-transform: uppercase;
	text-decoration: underline;
	color: #000;
	font-weight: 600;
}
.forgot div + div{
	text-align: right;
}
.close-popup{
	width: 21px;
	height: 21px;
	position: absolute;
	right: 15px;
	top: 15px;
	background: url("../img/close.png") no-repeat 50%;
	background-size: cover;
	cursor: pointer;
}
.mobile-menu{
	width: 40px;
	height: 2px;
	background: #fff;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
	display: none;
}
.mobile-menu:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	padding-bottom: 6px;
	border-top: 2px solid #fff;
}
.mobile-menu:after{
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding-top: 6px;
	border-bottom: 2px solid #fff;
}

@media (max-width: 900px){
	.mobile-menu{
		display: block;
	}
	.navigation > ul{
		position: absolute;
		display: block;
		top: 100%;
		width: 300px;
		background: #000;
		left: -500px;
		-webkit-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		max-height: calc(100vh - 52px);
		height: 100vh;
		overflow-y: auto;
	}
	.navigation > ul.active{
		left: 0;
	}
	.navigation a{
		padding: 20px 0;
	}
	.navigation li.active a {
    border-bottom: 2px solid #fff;
    padding-bottom: 18px;
	}
	.news1 {
    margin: 23px 0 0;
	}
	.login>a {
    padding-left: 52px;
	}
}
@media (max-width: 768px){
	.info-header{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.info{
		width: 50%;
		min-width: 50%;
		padding: 15px;
	}
	.content1, .content2{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.block-l, .block-r{
		width: 100%;
		min-width: 100%;
	}
	.block-r{
		padding: 0 90px 54px 80px;
	}
	.news1 {
    margin: 23px 0 20px;
	}
	.block-r:before{
		background: none;
	}
	.gallery-img{
    width: 300px;
    max-width: 300px;
	}
}
@media (max-width: 520px){
	.info{
		width: 50%;
		min-width: 100%;
	}
}
@media (max-width: 480px){
	.popup{
		max-width: 96%;
		max-height: 96%;
		padding: 45px 20px;
	}
}